<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 작성</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<form th:action="@{/post/enroll}" th:object="${post}" method="post">
    <table>
        <tr>
            <td><label th:text="#{post.label.title}">제목</label></td>
            <td><input th:field="*{title}" th:style="${'width:500px'}" type="text" maxlength="200"></td>
        </tr>
        <tr>
            <td><label th:text="#{post.label.contents}">내용</label></td>
            <td><textarea th:style="${'width:500px; height:400px'}"
                          th:field="*{contents}" th:maxlength="2000"></textarea></td>
        </tr>
    </table>
    <input type="submit" value="등록">
</form>
</body>
</html>