<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<a href="/" th:href="@{/}">홈으로</a><br>
<h1 th:text="#{main.title}">소박하지만 그룹입니다</h1>
<a sec:authorize="isAnonymous()" href="/login"
   th:text="#{member.page.login}" th:href="@{/login}">로그인</a><br>
<a sec:authorize="isAnonymous()" href="/createMemberForm"
   th:text="#{member.page.add}" th:href="@{/createMemberForm}">회원가입</a>
<a sec:authorize="isAuthenticated()" href="/login"
   th:text="#{member.page.logout}" th:href="@{/logout}">로그아웃</a><br>
<a sec:authorize="isAuthenticated()">
    <span sec:authentication="name"></span>님 환영합니다!</a>
<a sec:authorize="hasRole('ROLE_ADMIN')">이 사이트의 관리자님이십니다.</a>
<a sec:authorize="isAuthenticated()" href="/myInfo" th:href="@{/myInfo}">내 정보</a><br>
<a class="no-uline" href="/post/addPost" th:href="@{/post/enroll}">글쓰기</a>
<hr>
<div class="container">
    <table width="100%" border="1">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성자</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(posts.size() - 1, 0, -1)}">
            <td><a th:text="${posts[i].id}"></a></td>
            <td><a class="no-uline" th:text="${posts[i].title}"
                   th:href="@{|/post/${posts[i].id}|}">제목</a></td>
            <td><a th:text="${posts[i].views}"></a></td>
            <td><a class="no-uline" th:text="${posts[i].memberIdDto.name}"
                    th:href="@{|/user/${posts[i].memberIdDto.name}|}"></a></td>
            <td><a th:text="${posts[i].postPeriod.creationDate}"></a></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>