<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<h1>회원정보를 수정합니다.</h1>
<hr>
<form th:action="@{'/edit/'+${member.id}}" method="post">
    <fieldset>
        <table>
            <tr>
                <input type="hidden" name="name" value="${member.name}">
                <td><label>SolvedAC 티어</label></td>
                <td><input type="text" name="tier"></td>
                <td><label>이메일</label></td>
                <td><input type="email" name="email"></td>
                <td><label>비밀번호</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
    </fieldset>
    <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>