<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<h1>회원정보를 수정합니다.</h1>
<hr>
<form th:action="@{'/edit/'+${id}}" th:object="${member}" method="post">
    <fieldset>
        <table>
            <tr>
                <td><label th:text="#{member.label.name}" th:for="name">아이디</label></td>
                <td><input type="text" name="name" th:value="${member.name}"
                           th:field="${member.name}" th:errorclass="field-error" readonly></td>
                <div class="field-error" th:errors="${member.name}">
                    아이디 오류
                </div>

                <td><label th:text="#{member.label.tier}" th:for="tier">SolvedAC 티어</label></td>
                <!--                    <td><input type="text" name="tier" th:field="${member.tier}"-->
                <!--                               placeholder="SolvedAC 티어"></td>-->
                <td>
                    <select style="-ms-box-sizing:content-box;" th:field="${member.tier}">
                        <option value="없음">없음</option>
                        <option value="Bronze V">Bronze V</option>
                        <option value="Bronze IV">Bronze IV</option>
                        <option value="Bronze III">Bronze III</option>
                        <option value="Bronze II">Bronze II</option>
                        <option value="Bronze I">Bronze I</option>
                        <option value="Silver V">Silver V</option>
                        <option value="Silver IV">Silver IV</option>
                        <option value="Silver III">Silver III</option>
                        <option value="Silver II">Silver II</option>
                        <option value="Silver I">Silver I</option>
                        <option value="Gold V">Gold V</option>
                        <option value="Gold IV">Gold IV</option>
                        <option value="Gold III">Gold III</option>
                        <option value="Gold II">Gold II</option>
                        <option value="Gold I">Gold I</option>
                        <option value="Platinum V">Platinum V</option>
                        <option value="Platinum IV">Platinum IV</option>
                        <option value="Platinum III">Platinum III</option>
                        <option value="Platinum II">Platinum II</option>
                        <option value="Platinum I">Platinum I</option>
                        <option value="Diamond V">Diamond V</option>
                        <option value="Diamond IV">Diamond IV</option>
                        <option value="Diamond III">Diamond III</option>
                        <option value="Diamond II">Diamond II</option>
                        <option value="Diamond I">Diamond I</option>
                        <option value="Ruby V">Ruby V</option>
                        <option value="Ruby IV">Ruby IV</option>
                        <option value="Ruby III">Ruby III</option>
                        <option value="Ruby II">Ruby II</option>
                        <option value="Ruby I">Ruby I</option>
                    </select>
                </td>

                <td><label th:text="#{member.label.email}" th:for="email">이메일</label></td>
                <td><input type="email" name="email" th:field="${member.email}"
                           th:errorclass="field-error"></td>
                <div class="field-error" th:errors="${member.email}">
                    이메일 오류
                </div>

                <td><label th:text="#{member.label.password}" th:for="password">비밀번호</label></td>
                <td><input type="password" name="password" th:field="${member.password}"
                           th:errorclass="field-error"></td>
                <div class="field-error" th:errors="${member.password}">
                    비밀번호 오류
                </div>
            </tr>
        </table>
    </fieldset>
    <br>
    <input type="submit" value="정보수정">
</form>
<p sec:authorize="hasRole('ROLE_ADMIN')">Tip. 관리자여도 타인의 비밀번호 변경 수정사항은 적용되지 않습니다.</p>
</body>
</html>