<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>유저 정보</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<h1 th:text="|${member.name}님의 정보|"></h1>
<hr>
<div class="container">
    <p th:text="|백준 아이디: ${member.name}|"></p>
    <p th:text="|현재 티어: ${member.tier}|"></p>
    <span th:if="${member.name.equals(#authentication.getName())}">
        <a th:text="#{member.page.logout}" th:href="@{/logout}"> 로그아웃 </a>
        <a th:text="#{member.page.edit}" th:href="@{|/edit/${id}|}"> 정보수정 </a>
        <a th:text="#{member.page.secession}" th:href="@{'delete/'+${id}}"> 회원탈퇴 </a>
    </span>
</div>
<hr>
<div>
    <p th:text="|작성한 게시글 수: |"></p>
    <table width="100%" border="1">
        <thead>
        <tr>
            <th>제목</th>
            <th>조회수</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">정보 수정 및 삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td><a class="no-uline" th:text="${post.title}"
                   th:href="@{|/post/${post.id}|}"></a></td>
            <td><a th:text="${post.views}"></a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/"
                   th:href="@{|/post/edit/${post.id}|}"
                   th:text="#{post.page.edit}">수정</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/"
                   th:href="@{|/post/delete/${post.id}|}"
                   th:text="#{post.page.del}">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>